@font-face {
    font-family: 'BN Shade';
    src: url('BNShadeRegular.woff2') format('woff2'),
        url('BNShadeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

