.button {
  background-color: var(--color-bg-btn);
  border: none;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
